.DS_Store
*.swp
vim/doc/tags
zsh/local_env
.netrwhist

# Vim related directories to ignore
vim/plugged
vim/autoload/plug.vim.old

# Ignore local fish config
fish/local.fish

# Ignore zed stuff
config/zed/prompts/
